* {
  font-family: 'Franklin Gothic Medium', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #BBCBDA;
  background: linear-gradient(180deg, rgba(187, 203, 218, 1) 0%,
  rgba(113, 243, 200, 1) 19%, rgba(92, 192, 152, 1) 33%,
  rgba(139, 120, 196, 1) 50%, rgba(61, 100, 184, 1) 70%, rgba(2, 5, 32, 1) 96%);
  

  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTAINER */
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CARD */
.login-card {
  position: relative;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  width: 360px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(248, 248, 248, 0.911);
  

}

/* LOGO IMAGE */
.logo img {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-left: 68px;
  
}


/* FORMS */
form label {
  font-size: 14px;
  color: #0b3c5d;
  
}

input {
  box-shadow: 0 3px 2px #090a0a8c;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 8px 0 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot {
  font-size: 12px;
  color: #0b3c5d;
  text-decoration: none;
}

.remember {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.remember input {
  width: auto;
  margin-right: 8px;
}

/* BUTTONS */
.btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
  font-family: 'Segoe UI';
  box-shadow: 0 3px 2px #090a0a8c;
  background: #ED00E9;
  background: linear-gradient(90deg, rgba(237, 0, 233, 1) 0%, rgba(33, 131, 77, 1) 50%, rgba(6, 8, 137, 1) 100%);
  transform: all 0.3s ease;
  
}


.btn:hover{
    transform:scale(1.1);
    background: rgb(0, 25, 100);

 }